div.medium-container {
    max-width: 800px;
    margin: auto;
}

div.medium-container {
    max-width: 600px;
    margin: auto;
}

div.small-container {
    max-width: 450px;
    margin: auto;
}

th.numeric, td.numeric {
    text-align: right;
}

th.control, td.control {
    text-align: center;
}

form.inline-form {
    display: inline-block;
}