h1, h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.align-right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.container {
    margin-bottom: 20px;
    margin-top: 20px;
}

.numeric {
    text-align: right;
}

table.invoice td.borderless {
    border: none;
}

table.invoice {
    width: 100%;
    border-collapse: collapse;
}

table.invoice th {
    background: black;
    color: white;
}

table.invoice td, table.invoice th {
    border: thin solid black;
    padding: 5px;
}